
.forecast_cards{
    display: flex;
    flex: auto;
    flex-direction: row;
    border-top: 4px solid white;
    background-color:#eef6fb;


}
.each_card{
    display: flex;
    flex-direction: column;
    /*flex: 1 1 auto;*/
    flex: 0 0 25%;
    border-right: 4px solid white;
    background-color: #eef6fb;
    padding:4px;
    padding-top: 20px;
    height:200px;
    /*height: 35%;*/
    width:25%;
    align-items: center;
}

.each_card:nth-child(4){
      border-right: None;
}

.each_card:nth-child(1){
      border-left: None;
}
.each_card:hover{
    background-color: aquamarine;
}


.names{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 28px;
}

.forecast-image{
    width: 100px;
    height:80px;
}
#icon{
    font-size:3rem;
    padding-top: 20px;
}
.temp-font{
    font-family: 'Kelly Slab';
    font-size: 35px;
}